{{!-- REWORK AS REQUIRED --}}

<section class="card">
  <a href="/game/{{id}}">
    <header>{{name}}</header>
    <img src="/images/{{gamepage1.[0].filename}}" alt="{{gamepage1.[0].description}}">
  </a>
</section>