<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css" />
    <title>Main page</title>
</head>
<body>
    <header>
        <h1>Extreme Wizard Wipeout!</h1>
    </header>

    {{{body}}}

    <footer>
        <h4>Brought to you by the super-duper-bassoon organization</h4>
    </footer>
    
</body>
</html>