<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/main.css" />
    <script src="/js/main.js"></script>
    {{!-- delete this --}}
    <title>Main page</title>
</head>

<body>
    <header>
        <div id="parentNavbarContainer">
            <img onclick="goToProfile()" id="wizardWipeout" src="/images/wizard Wipeout.png"
                alt="Wuzard Wipeout Logo" />
        </div>
        <div>
            {{#if logged_in}}
            <p id="logout">Logout</p>
            {{/if}}
        </div>

        {{!-- delete this --}}
    </header>

    {{{body}}}

    <footer>
        <a href="https://github.com/rachel-brain/super-duper-bassoon">
            <h4 id="sdb">© Super Duper Bassoon</h4>
        </a>
        <h4 id="about" onclick="renderAbout()">About</h4>
    </footer>

</body>

</html>