<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/main.css"/>
    <title>Main page</title>
</head>

<body>
    <header>
        <div id="parentNavbarContainer">
            <img id="wizardWipeout" src="/images/wizard Wipeout.png" alt="Wuzard Wipeout Logo" />
        </div>

    </header>

    {{{body}}}

    <footer>
        <h4>© Super Duper Basoon</h4>
    </footer>

</body>

</html>