<link rel="stylesheet" href="/css/about.css" />

<div id="aboutmeDiv" class="nes-container is-dark is-rounded">

    <div>
        <div class='nes-container is-dark is-rounded'>
            <img src="/images/suva.png" />
            <div>
                <h1>Suva Pokharel</h1>
                <a href="https://github.com/Sooova"> <i class="nes-icon github is-medium"></i></a>
                <i class="nes-icon twitter is-medium"></i>
            </div>
        </div>

        <div class='nes-container is-dark is-rounded'>
            <img src="/images/david.png" />
            <div>
                <h1>David Szamek</h1>
                <a href="https://github.com/DavidSzamek"><i class="nes-icon github is-medium"></i></a>
                <i class="nes-icon twitter is-medium"></i>
            </div>
        </div>
    </div>

    <div>
        <div class='nes-container is-dark is-rounded'>
            <img src="/images/rachel.png" />
            <div>
                <h1>Rachel Brain</h1>
                <a href="https://github.com/rachel-brain"> <i class="nes-icon github is-medium"></i></a>
                <i class="nes-icon twitter is-medium"></i>
            </div>
        </div>

        <div class='nes-container is-dark is-rounded'>
            <img src="/images/mustafa.png" />
            <div>
                <h1>Mustafa Abdel</h1>
                <a href="https://github.com/engn-mustafa"> <i class="nes-icon github is-medium"></i></a>
                <i class="nes-icon twitter is-medium"></i>
            </div>
        </div>
    </div>

</div>