<link rel="stylesheet" href="/css/canvas.css" />

<div id = "gameContainer" class = "nes-container is-rounded is-dark">
    <canvas id="canvas"></canvas>

</div>

<script src="/js/script.js"></script>