<div class="loginButtonDiv nes-container is-rounded is-dark">

    <!-- Welcome Buttons -->
    <div id="welcomeDiv" class="loginSignupDiv">
        <h1 class=>Welcome!</h1>
        <button onclick="showLogin(loginDiv,welcomeDiv)" type="button"
            class="welcomeButtons nes-btn is-warning">Login</button>
        <button onclick="showSignup(signupDiv,welcomeDiv)" type="button"
            class="welcomeButtons nes-btn is-warning">Signup</button>
    </div>

    <!-- Signup -->
    <div id="signupDiv" class="hidden">
        <div id="emailInputDiv" class="nes-field">
            <label> E-mail</label>
            <input id="emailInput" type="text" id="name_field" class="nes-input is-error">
        </div>

        <div id="userPasswordInputDiv">
            <div class="nes-field">
                <label> Username</label>
                <input id="sUsername" type="text" id="name_field" class="nes-input is-error">
            </div>
            <div class="nes-field">
                <label> Password</label>
                <input id="sPassword" type="text" id="name_field" class="nes-input is-error">
            </div>
            <div class="signupButtonContainer">
                <button onclick="hideSignup(signupDiv,welcomeDiv)" type="button"
                    class="signupBack nes-btn is-warning">Back</button>
                <button onclick="submitSignupInput(inputFields)" id="signupSubmit" type="button"
                    class="submitLoginBtn nes-btn is-disabled">Submit</button>
            </div>

        </div>

    </div>

    <!-- login -->
    <div id="loginDiv" class="hidden">
        <div class="nes-field">
            <label> Username</label>
            <input id="lUsername" type="text" id="name_field" class="nes-input is-error">
        </div>
        <div class="nes-field">
            <label> Password</label>
            <input id="lPassword" type="text" id="name_field" class="nes-input is-error">
        </div>
        <div>

        </div>
        <button onclick="hideLogin(loginDiv,welcomeDiv) " type="button"
            class="signupBack nes-btn is-warning">Back</button>
        <button onclick="loginFormHandler() " type="button"
            class="signupBack nes-btn is-warning">Login</button>
    </div>

</div>

<script src="/js/homeScripts.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>