<link rel="stylesheet" href="/css/leaderboards.css" />


<div id="leaderboardsDiv" class="nes-container is-rounded is-dark with-title is-centered">
    <span class="title"><i class="nes-icon trophy is-small"></i>Leaderboards</span>

    <!-- Balloon 'is-dark'  -->
    <div class="messages">
        <section class="message-list">
            <section class="message -left">
                <img class="slime" src="/images/slime gif.gif" />
                <!-- Balloon -->
                <div class="nes-balloon from-left is-dark">
                    <p>"Winner winner chicken dinn..."</p>
                </div>
            </section>

            <section class="message -right">
                <!-- Balloon -->
                <div class="nes-balloon from-right is-dark">
                    <p>"PUBG already copyrighted that saying Carl..."</p>
                </div>
                <img class="slimeRed" src="/images/slime gif.gif" />
            </section>

            <section class="message -right">
                <img class="slime" src="/images/slime gif.gif" />
                <!-- Balloon -->
                <div class="nes-balloon from-left is-dark">
                    <p>"Oh..."</p>
                </div>
            </section>
        </section>
    </div>

    <div class="leaderboardsDiv nes-table-responsive">
        <table class="nes-table is-bordered is-dark">
            <thread>
                <th>User</th>
                <th>Score</th>
            </thread>
            <tbody>
                <td>"Put User Data Here</td>
                <td>"P  </td>
            </tbody>
            <tbody>
                <td>"Put User Data Here</td>
                <td>"Put User Score Data Here</td>
            </tbody>
            <tbody>
                <td>"Put User Data Here</td>
                <td>"Put User Score Data Here</td>
            </tbody>
        </table>



    </div>


</div>