<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/leaderboards.css" />
<script src="/js/leaderboards.js"></script>

<div id="leaderboardsDiv" class="nes-container is-rounded is-dark with-title is-centered">
    <span class="title"><i class="nes-icon trophy is-small"></i>Leaderboards</span>

    <!-- Balloon 'is-dark'  -->
    <div class="messages">
        <section class="message-list">
            <section class="message -left">
                <img class="slime" src="/images/slime gif.gif" />
                <!-- Balloon -->
                <div class="nes-balloon from-left is-dark">
                    <p>"Winner winner <br>chicken dinn..."</p>
                </div>
            </section>

            <section class="message -right">
                <!-- Balloon -->
                <div class="nes-balloon from-right is-dark">
                    <p>"PUBG already copyrighted <br> that saying Carl..."</p>
                </div>
                <img class="slimeRed" src="/images/slime gif.gif" />
            </section>

            <section class="message -left">
                <img class="slime" src="/images/slime gif.gif" />
                <!-- Balloon -->
                <div class="nes-balloon from-left is-dark">
                    <p>"Oh..."</p>
                </div>
            </section>
        </section>
    </div>

    <div class="leaderboardsTable nes-table-responsive">
        <table class="nes-table is-bordered is-dark">
            <thread>
                <th>User</th>
                <th>Score</th>
            </thread>
                {{#each topFiveUsersArray}}
                    <tbody>
                        <td>{{name}}</td>
                        <td>{{highscore}}</td>
                    </tbody>
                {{/each}}
        </table>
    </div>

</div>