<!-- ADD THE AVATARS -->

<div>
    <h2>Welcome, {{playername}}!</h2>
</div>
<div class="row">
    <div class="rules-card">
        <h3 class="title">Choose your avatar:</h3>
        <label class="container">blue avatar
            <input type="radio" checked="checked" name="radio">
            <span class="checkmark"></span>
        </label>
        <label class="container">red avatar
            <input type="radio" name="radio">
            <span class="checkmark"></span>
        </label>
        <label class="container">grey avatar
            <input type="radio" name="radio">
            <span class="checkmark"></span>
        </label>
        <label class="container">green avatar
            <input type="radio" name="radio">
            <span class="checkmark"></span>
        </label>
    </div>
</div>

<div class="row">
    <div class="rules-card">
        <h3 class="title">Rules:</h3>
        <div class="list">
            <ol>
                <li>No plurals ending in “s”</li>
                <li>No colloquial words</li>
                <li>No brand names</li>
                <li>No capitalized nouns</li>
                <li>No apostrophes or hyphens</li>
                <li>No foreign (only English) words</li>
                <li>You will lose points for invalid words</li>
                <li>You have 60 seconds for each game</li>
            </ol>
            <button class="button2 btn-primary" type="go">Go!</button>
        </div>
    </div>
</div>

<script src="./public/js/login.js"></script>