.message-list {
    display:flex;
    flex-direction: column;
    border-left: solid 5px whitesmoke;
    padding-left: 50px;
}

.leaderboardsTable {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 600px;
}
.slime {
    width:100px;
    height:auto;
}

.slimeRed {
    filter:hue-rotate(180deg);
    width:100px;
    height:auto;
    transform: scaleX(-1);
}

.messages {
    margin-right: auto;
    margin-left: auto;
    width: 650px;
}

.-left {
    text-align: left;
}

.-right {
    text-align: right;
}

#leaderboardsParent {
    display:flex;
    flex-direction: row;
    width:min-content;
    margin-right: auto;
    margin-left: auto;
}

.star {
    width:80px;
    display:inline-block;
}

.tfuHeading {
    display:inline;
    font-size: x-large;
}

th {
    font-size: large;
}

@media only screen and (max-width: 1249px) {
    #leaderboardsParent {
        flex-direction: column;
    }

    .message-list {
        border-left: none;
        border-top:5px solid whitesmoke;
        padding-top: 10px;
    }

    .leaderboardsTable {
        padding-bottom: 10px;
    }

  }

  @media only screen and (max-width: 811px) {
    #wizardWipeout {
        width:300px;
    }

    th {
        font-size: small;
    }
    .tfuHeading {
        font-size: medium;
    }

    .star {
        width:40px;
    }

    td {
        font-size: x-small;
    }

    .slime {
        width:50px;
        height:auto;
    }

    .slimeRed {
        width:50px;
        height: auto;
    }

    p {
        font-size: x-small;
    }

    .messages {
        width:400px;
    }

  }
