.slime {
    width:100px;
    height:auto;
}

.welcome {
    font-size: x-large;
}


.carlGrayscale {
    animation: carlGrayscale 0.5s linear;
}

#loginCentering {
    margin-left: auto;
    margin-right:auto;
}


@keyframes carlGrayscale {
    0% {
        filter:hue-rotate(285deg);
    }
    25% {
        filter: hue-rotate(285deg);
        filter:brightness(200%);
        transform: scale(1.25);
    }
    50% {
        /* filter:grayscale(100%); */
        filter:brightness(500%);
        transform: scale(1.25);
    }
    100% {
        /* filter: grayscale(0%); */
        filter:hue-rotate(0deg);
        transform:scale(1);
    }
}

@media only screen and (max-width: 940px) {
    #loginCentering {
        display:flex;
        flex-direction: column;
    }

    #carlBest {
        border-top: 5px solid whitesmoke;
        padding-top: 10px;
    }

    #welcomeDiv {
        padding-bottom:10px;
    }
    
    #signupDiv {
        padding-bottom:10px;
    }
    
    #loginDiv {
        padding-bottom:10px;
    }
    
    #wizardWipeout {
        width:300px;
        height:auto;
    }

  }

  @media only screen and (min-width: 941px) {
    #welcomeDiv {
        border-right: 5px solid whitesmoke;
        padding-right:10px;
    }
    
    #signupDiv {
        border-right: 5px solid whitesmoke;
        padding-right:10px;
    }
    
    #loginDiv {
        border-right: 5px solid whitesmoke;
        padding-right:10px;
    }

    #loginCentering {
        margin-top:10%;
    }
    
  }

  @media only screen and (max-width: 657px) {
    .nes-balloon {
        display:none;
    }
  }