#parentNavbarContainer {
    display: flex;
    justify-content: center;
}

#wizardWipeout {
    padding-top: 1%;
}

body {
    background-color: rgb(49, 49, 49);
    height: 100vh;
    width: 100vw;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* this will be in the login css */
.loginButtonDiv {
    margin-top:50%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    /* width:70vw; */
    margin:auto;
}

.loginSignupDiv {
    flex-direction: row;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcomeButtons {
    width: 150px;

}

.signupBack {
    margin-top: 10px;
}

.signupButtonContainer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.test {
    display: flex;
    justify-content: center;
}

h4 {
    font-family: 'VT323', monospace;
    color: whitesmoke;
}

.title {
    color: whitesmoke;
    background-color: rgb(49, 49, 49);
}
 .hidden {
     display:none;
 }

 .shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
 }

 @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }
