.slime {
    width:100px;
    height:auto;
}


.slimeRed {
    filter:hue-rotate(180deg);
    width:100px;
    height:auto;
}

.message-list {
    display:flex;
    flex-direction: column;
}

.messages {
    margin-right: auto;
    margin-left: auto;
    width: 600px;
}

.-left {
    text-align: left;
}

.-right {
    text-align: right;
}

.backstory {
    line-height: 50px;
}
button {
    width:500px;
    height:auto;
}