/* Color palette (Kidcoree) sourced from https://www.color-hex.com/color-palette/113082 */
:root {
    --red: #ff4949;
    --orange: #ff8b3a;
    --green: #77ff38;
    --blue: #0062ff;
    --purple: #8b00ff;
    --black: #000000;
    --border-radius: 0.3rem;
}

body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background-color: var(--green);
}

h2 {
    font-size: 25px;
    color: var(--purple);
}